.Friend {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.ProfileImageWrapper {
    position: relative;
    margin-right: 1rem;
}

.ProfileImage {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.Online {
    position: absolute;
    top: -2px;
    right: 0;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid white;
    background-color: limegreen;
}

.UserName {
    font-weight: 500;
}