.RightBar {
    flex: 3.5;
}

.Wrapper {
    padding: 2rem 2rem 0 0;
}

.BirthDayWrapper {
    display: flex;
    align-items: center;
}

.BirthDayImage {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
}

.BirthDayText {
    font-size: 1.5rem;
    font-weight: 300;
}

.Ad {
    margin: 3rem 0;
    width: 100%;
    border-radius: 1rem;
}

.FollowButton {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: #1872f2;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.FollowButton:focus {
    outline: none;
}

.Title {
    margin-bottom: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.Info {
    margin-bottom: 3rem;
}

.InfoItem {
    margin-bottom: 1rem;
}

.InfoKey {
    margin-right: 1.5rem;
    font-weight: 500;
    color: #555;
}

.InfoValue {
    font-weight: 300;
}

.Followings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Following {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    cursor: pointer;
}

.FollowingImage {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: .5rem;
}
