.RightBar {
    flex: 3.5;
}

.Wrapper {
    padding: 2rem 2rem 0 0;
}

.BirthDayWrapper {
    display: flex;
    align-items: center;
}

.BirthDayImage {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
}

.BirthDayText {
    font-size: 1.5rem;
    font-weight: 300;
}

.Ad {
    margin: 3rem 0;
    width: 100%;
    border-radius: 1rem;
}

.Title {
    margin-bottom: 2rem;
}
