.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
}

.Wrapper {
    display: flex;
    width: 70%;
    height: 70%;
}

.Left,.Right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Logo {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 800;
    color: #1775ee;
}

.Desc {
    font-size: 2.4rem;
}

.Box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: 30rem;
    border-radius: 1rem;
    background-color: white;
}

.Input {
    padding: 1.8rem;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid gray;
    font-size: 1.8rem;
}

.Input:focus {
    outline: none;
}

.Button {
    height: 5rem;
    border: none;
    border-radius: 1rem;
    background-color: #1775ee;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.Button:focus {
    outline: none;
}

.Button:disabled {
    cursor: not-allowed;
}

.Forgot {
    text-align: center;
    color: #1775ee;
}

.RegisterButton {
    background-color: #42b72a;
}
